<div class="container">
    <div class="grid md:grid-cols-2 gap-10">
        <h2 class="text-4xl sm:text-5xl 2xl:text-6xl sm:leading-[1.2] font-heading font-semibold uppercase">{{ steps_title }}</h2>
        <div>
            <p class="mb-10">{{ steps_short_description }}</p>
            {{ if steps_button }}
                {{ steps_button }}
                <a href="{{ url }}" class="bg-brown inline-flex items-center justify-between text-white hover:bg-teal-dark h-14 gap-3.25 pl-6 pr-6.75 group"> {{ text }}
                    <svg width="13" height="13" viewBox="0 0 13 13" class="group-hover:rotate-45 transition-all duration-300" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.5312 0H12.2812V9H10.7812V2.5625L1.5625 11.7812L1.03125 12.3125L0 11.25L0.53125 10.7188L9.75 1.5H3.28125V0H11.5312Z" fill="currentColor"></path></svg>
                </a>
                {{ /steps_button }}
            {{ /if }}
        </div>
    </div>
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-4 mt-10 md:mt-20">
        {{ if steps_loop }}
            {{ steps_loop }}
                {{ if index == 0 }}
                <div class="bg-white flex flex-col gap-y-12 py-10 px-6 md:py-12 md:px-8 lg:py-16 lg:px-12 first:bg-teal first:text-white group">
                    <span class="text-teal text-7xl font-semibold font-heading leading-tight block text-right group-first:text-white">0{{ index + 1 }}</span>
                    <div class="flex flex-col gap-7.5">
                        <h3 class="text-4xl font-heading font-semibold uppercase max-sm:break-all">{{ steps_loop_heading }}</h3>
                        <p>{{ steps_loop_content }}</p>
                    </div>
                </div>
                {{ else }}
                <div class="bg-white flex flex-col gap-y-12 py-10 px-6 md:py-12 md:px-8 lg:py-16 lg:px-12">
                    <span class="text-teal text-7xl font-semibold font-heading leading-tight block text-right">0{{ index + 1 }}</span>
                    <div class="flex flex-col gap-7.5">
                        <h3 class="text-4xl font-heading font-semibold uppercase max-sm:break-all">{{ steps_loop_heading }}</h3>
                        <p>{{ steps_loop_content }}</p>
                    </div>
                </div>
                {{ endif }}
            {{ /steps_loop }}
        {{ /if }}
    </div>
</div>