<section class="relative max-md:h-screen md:max-h-200 flex items-center overflow-hidden">
    <div class="absolute inset-0 after:absolute after:inset-0 after:bg-black/40">
       <img src="assets/images/casa-pacto-brochure-image.jpg" alt="Casa Pacto Brochure" class="w-full h-full object-cover"/>   
    </div>
    <div class="container relative z-2 pt-40 md:py-42.25 pb-34 lg:py-56.25 ">
        <div class="md:max-w-137.5 lg:max-w-167.5 xl:max-w-189.5">
            <h1 class="text-white text-4xl sm:text-5xl md:text-6xl lg:text-7xl sm:leading-[1.25] font-heading font-semibold mb-6 mf:mb-10 uppercase">Oeps, deze pagina is niet gebouwd.</h1>
            <div class="text-white mb-10">Gebruik de navigatie of klik hier om naar ons aanbod Familiewoningen te gaan.</div>
            <div class="flex flex-wrap items-center gap-6">
                <a href="{{ site:url }}" class="bg-brown border border-brown inline-flex items-center justify-between text-white hover:bg-white hover:text-brown h-14 gap-3.25 pl-6 pr-6.75 group">Terug naar home
                    <i class="fa-sharp fa-regular fa-arrow-right -rotate-45 group-hover:rotate-0 transition-all duration-300"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="absolute right-0 bottom-0 hidden md:flex justify-end w-2/5 md:max-w-77.5 lg:max-w-102 xl:max-w-105  2xl:max-w-175">
        <img src="assets/images/house-visual.png" />
    </div>
</section>