<div class="bg-white flex flex-col">
    <div class="aspect-square">
        {{ feature_image }}
        <img src="{{ url }}" alt="{{ alt }}" class="w-full h-full object-contain"/>
        {{ /feature_image }}
    </div>
    <div class="flex flex-col h-full gap-y-6 px-6 lg:px-8 py-10">
        <div class="flex justify-between gap-4 max-lg:flex-col max-md:gap-y-6 mb-0.5">
            <h4 class="text-3xl font-heading font-semibold uppercase text-teal">
                <a href="{{ url }}">{{ title }}</a>
            </h4>
            <div class="flex flex-col gap-y-px lg:items-end">
                <h4 class="text-3xl font-heading font-semibold uppercase text-teal">
                    {{ general:currency_symbol }} {{ price }},-
                </h4>
                <p class="!mt-0 text-teal lg:text-right leading-8">
                    Standaard prijs incl. BTW
                </p>
            </div>
        </div>
        
        {{ if houses_information }}
            {{ houses_information }}
            <div class="flex flex-col gap-y-1 leading-8">     
                {{ if houses_area }}
                <div class="flex gap-x-4 text-teal-dark">
                    <div class="w-6 pt-2.25 flex justify-center shrink-0">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.28125 0L8.78125 0.46875L16.0312 6.96875L16.5938 7.46875L15.5938 8.5625C15.1875 8.1875 14.9062 7.9375 14.8125 7.84375V16.25H1.8125V7.84375C1.6875 7.9375 1.40625 8.1875 1 8.5625L0 7.46875L0.5625 6.96875L7.8125 0.46875L8.3125 0H8.28125ZM8.28125 2.03125L3.28125 6.5V14.7812H5.28125V9.28125H11.2812V14.7812H13.2812V6.5L8.28125 2.03125ZM6.78125 14.7812H9.78125V10.7812H6.78125V14.7812Z" fill="#005233"/></svg>
                    </div>
                    <p class="font-semibold">Oppervlakte: {{ houses_area }}</p>
                </div>
                {{ /if}}
            
                {{ if required_plot_size }}
                <div class="flex gap-x-4 text-teal-dark">
                    <div class="w-6 pt-2.25 flex justify-center shrink-0">
                        <svg width="14" height="14" class="w-5" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.25 0H14V5.5H12.5V2.5625L8.0625 7L12.5 11.4375V8.5H14V14H8.5V12.5H11.4375L7 8.0625L2.5625 12.5H5.5V14H0V8.5H1.5V11.4375L5.9375 7L1.5 2.5625V5.5H0V0H5.5V1.5H2.5625L7 5.9375L11.4375 1.5H8.5V0H9.25Z" fill="#005233"/></svg>
                    </div>
                    <p class="font-semibold">Benodigde perceelgrootte: {{ required_plot_size }}</p>
                </div>
                {{ /if }}
            
                {{ if short_description }}
                <div class="flex gap-x-4 text-teal-dark">
                    <div class="w-6 pt-2.25 flex justify-center shrink-0">
                        <svg width="20" height="18" class="w-5" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.3125 0L8.8125 0.46875L16 6.90625C15.625 6.8125 15.2188 6.78125 14.8125 6.78125C14.4375 6.78125 14.0938 6.8125 13.7188 6.875L8.3125 2.03125L3.3125 6.5V14.7812H5.3125V9.28125H9.9375C9.625 9.71875 9.34375 10.2188 9.15625 10.7812H6.8125V14.7812H9.15625C9.34375 15.3125 9.59375 15.8125 9.9375 16.2812H1.8125V7.84375C1.6875 7.96875 1.4375 8.1875 1 8.5625L0 7.46875L0.5625 6.96875L7.8125 0.46875L8.3125 0ZM10.3125 12.7812C10.3125 10.2812 12.3125 8.28125 14.8125 8.28125C17.3125 8.28125 19.3125 10.2812 19.3125 12.7812C19.3125 15.2812 17.3125 17.2812 14.8125 17.2812C12.3125 17.2812 10.3125 15.2812 10.3125 12.7812ZM17 11.1875L16.2188 10.5938L15.9062 11L14.25 13.2812C13.625 12.625 13.2188 12.2188 13.0625 12.0625L12.3438 12.7812C12.4375 12.875 12.9688 13.4062 13.9688 14.375L14.375 14.8125L14.7188 14.3125L16.7188 11.5625L17 11.1875Z" fill="#005233"/></svg>
                    </div>
                    <p class="font-semibold">{{ short_description }}</p>
                </div>                        
                {{ /if }}
            </div>

            {{ if houses_feature_points_description }}
            <p class="leading-8">{{ houses_feature_points_description }}</p>
            {{ /if }}

            {{ if houses_feature_points }}
            <ul class="flex flex-col gap-y-1 leading-8">
                {{ houses_feature_points }}
                <li class="flex gap-4">
                    <div class="w-6 shrink-0 px-1 pt-2.5">
                        <img src="assets/images/check.svg" alt="Check Icon" />
                    </div>
                    {{ value }}
                </li>
                {{ /houses_feature_points }}
            </ul>
            {{ /if }}
            {{ /houses_information }}
        {{/if }}


        <div class="flex flex-wrap items-center justify-between gap-4 mt-auto">
            <a href="{{ url }}" class="bg-brown inline-flex items-center justify-between text-white hover:bg-teal-dark h-14 gap-3.25 pl-6 pr-6.75 group">Lees meer
                <i class="fa-sharp fa-regular fa-arrow-right -rotate-45 group-hover:rotate-0 transition-all duration-300"></i>
            </a>
            <span class="bg-[#5E9330] inline-flex items-center text-white text-lg sm:text-xl leading-none uppercase font-bold h-8 pl-2 py-px relative triangle-right after:absolute after:left-full after:top-0 after:h-8.25 after:w-4 after:bg-[#5E9330]">{{ energy_label }}</span>
        </div>
    </div>
</div>