{{ if v1_active_style_element && call_to_action_text }}
   <div class="">
        <div class="flex flex-col md:flex-row justify-between {{column_alignment == 'Image Left & Text Right' ? 'md:pr-4 xl:pr-[calc(50%_-_1280px/2)] 2xl:pr-[calc(50%_-_1532px/2)] ' : 'md:pl-4 xl:pl-[calc(50%_-_1280px/2)] 2xl:pl-[calc(50%_-_1532px/2)] '}}">
            {{ if column_alignment == 'Text Left & Image Right' }}
            <div class="w-full text-white md:w-[52.3%] py-20 lg:py-40 max-md:pl-4 pr-4 md:pr-10 lg:pr-20 2xl:pr-36.25 flex flex-col items-center">
                <div class="lg:max-w-189.5">
                    <div class="mb-10">
                        {{ section_text
                            | replace('<h2', "<h2 class='text-4xl sm:text-5xl 2xl:text-6xl sm:leading-[1.2] font-heading font-semibold uppercase [&_span]:text-lime mb-10'")
                        }}
                    </div>
                    <div class="flex gap-2.5 flex-wrap">
                    {{ if buttons }}
                        {{ buttons }}
                            {{ button_link }}
                            <div class="flex gap-2.5 flex-wrap">
                                <a href="{{ url}}" class="bg-white border border-white inline-flex items-center justify-between text-body hover:bg-transparent hover:text-white h-14 gap-3.25 pl-6 pr-6.75 group"> {{ text }}
                                    <i class="fa-sharp fa-regular fa-arrow-right -rotate-45 group-hover:rotate-0 transition-all duration-300"></i>
                                </a>
                            </div>
                            {{ /button_link }}
                        {{ /buttons }}
                    {{ /if }}
                    </div>
                </div>
            </div>

            <div class="w-full md:w-[47.7%] relative overflow-hidden">
                {{ if section_image }}
                    {{ section_image }}
                        <img src="{{ url }}" alt="{{ alt }}" class="w-full h-full object-cover aspect-[390/311] md:aspect-[823/592]"/>
                    {{ /section_image }}
                {{ /if}}

                {{ if call_to_action_text }}
                <div class="absolute right-4 bottom-9.5 sm:bottom-14 md:bottom-[9%] lg:bottom-[7%] xl:bottom-[13%] 2xl:bottom-[12%] md:w-full md:inset-x-0 md:flex md:justify-center z-2 max-md:pl-4 px-4">
                    <div class="bg-neutral-100 font-heading text-xl lg:text-2xl xl:text-3xl font-semibold text-teal uppercase px-4 lg:px-5 min-h-12 lg:min-h-15  inline-flex items-center justify-center text-center">{{ call_to_action_text }}</div>
                </div>
                {{ /if }}
                
                <div class="absolute -bottom-8.75 sm:-bottom-10 xl:-bottom-15 -left-[10%] z-1 h-25 sm:h-28 w-[130%] -rotate-5 bg-brown md:-rotate-5 md:h-30 lg:h-30 xl:h-42.5 before:absolute before:rotate-10 before:right-0 before:-bottom-10 before:w-1/3 before:h-20 before:bg-brown">
                </div>
            </div>
            
            {{ elseif column_alignment == 'Image Left & Text Right' }}
                <div class="w-full md:w-[47.7%] relative overflow-hidden">
                    {{ if section_image }}
                        {{ section_image }}
                            <img src="{{ url }}" alt="{{ alt }}" class="w-full h-full object-cover aspect-[390/311] md:aspect-[823/592]"/>
                        {{ /section_image }}
                    {{ /if}}

                    {{ if call_to_action_text }}
                    <div class="absolute right-4 bottom-9.5 sm:bottom-14 md:bottom-[9%] lg:bottom-[7%] xl:bottom-[13%] 2xl:bottom-[12%] md:w-full md:inset-x-0 md:flex md:justify-center z-2 max-md:pl-4 px-4">
                        <div class="bg-neutral-100 font-heading text-xl lg:text-2xl xl:text-3xl font-semibold text-teal uppercase px-4 lg:px-5 min-h-12 lg:min-h-15  inline-flex items-center justify-center text-center">{{ call_to_action_text }}</div>
                    </div>
                    {{ /if }}
                    
                    <div class="absolute -bottom-8.75 sm:-bottom-10 xl:-bottom-15 -left-[10%] z-1 h-25 sm:h-28 w-[130%] -rotate-5 bg-brown md:-rotate-5 md:h-30 lg:h-30 xl:h-42.5 before:absolute before:rotate-10 before:right-0 before:-bottom-10 before:w-1/3 before:h-20 before:bg-brown">
                    </div>
                </div>
                
                <div class="w-full text-white md:w-[52.3%] py-20 lg:py-40 max-md:pr-4 pl-4 md:pl-10 lg:pl-20 2xl:pl-36.25 flex flex-col items-center">
                    <div class="lg:max-w-189.5">
                        <div class="mb-10">
                            {{ section_text
                                | replace('<h2', "<h2 class='text-4xl sm:text-5xl 2xl:text-6xl sm:leading-[1.2] font-heading font-semibold uppercase [&_span]:text-lime mb-10'")
                            }}
                        </div>
                        <div class="flex gap-2.5 flex-wrap">
                        {{ if buttons }}
                            {{ buttons }}
                                {{ button_link }}                                
                                <a href="{{ url}}" class="bg-white border border-white inline-flex items-center justify-between text-body hover:bg-transparent hover:text-white h-14 gap-3.25 pl-6 pr-6.75 group"> {{ text }}
                                    <i class="fa-sharp fa-regular fa-arrow-right -rotate-45 group-hover:rotate-0 transition-all duration-300"></i>
                                </a>
                                {{ /button_link }}
                            {{ /buttons }}
                        {{ /if }}
                        </div>
                    </div>
                </div>
            {{ /if }}

        </div>
    </div>
{{ else }}
    <div class="flex flex-col lg:flex-row justify-between  {{column_alignment == 'Image Left & Text Right' ? 'lg:pr-4 xl:pr-[calc(50%_-_1280px/2)] 2xl:pr-[calc(50%_-_1532px/2)]': 'lg:pl-4 xl:pl-[calc(50%_-_1280px/2)] 2xl:pl-[calc(50%_-_1532px/2)]'}}">
        {{ if column_alignment == 'Text Left & Image Right' }}
            <div class="w-full lg:w-[52.3%] max-lg:pl-4 pr-4 lg:pr-20 lg:max-w-209.75 max-lg:mb-20">
                <div class="prose mb-10 max-w-none">
                    {{ section_text
                        | replace('<h2', "<h2 class='text-4xl sm:text-5xl 2xl:text-6xl sm:leading-[1.2] font-heading font-semibold uppercase [&_strong]:text-lime [&_strong]:font-semibold mb-10  lg:max-w-125 2xl:max-w-150'")
                    }}
                </div>
                <div class="flex gap-2.5 flex-wrap">
                    {{ buttons }}
                    {{ if button_link }}
                    
                        {{ button_link }}
                        
                        <a href="{{ url }}" class="bg-brown inline-flex items-center justify-between text-white hover:bg-teal-dark h-14 gap-3.25 pl-6 pr-6.75 group">
                            {{ text }}
                            <i class="fa-sharp fa-regular fa-arrow-right -rotate-45 group-hover:rotate-0 transition-all duration-300"></i>
                        </a>
                        {{ /button_link}}
                    {{/if }}
                    {{ /buttons }}
                </div>                
            </div>

            <div class="w-full lg:w-[47.7%]">
                <div x-data="{ showModal: false }" class="relative overflow-hidden">
                    {{ if section_image }}
                    {{ section_image }}
                    <img src="{{ url }}" alt="{{ alt }}" class="w-full h-full object-cover aspect-[390/379] lg:aspect-[823/832]"/>
                    {{/section_image }}
                    {{ /if }}
                    
                    {{ if section_video}}
                    <button @click="showModal = true"
                        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white rounded-full size-20 flex items-center justify-center cursor-pointer pl-1 text-teal hover:text-lime">
                        <svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L27 15L0 30V0Z" fill="currentColor"/></svg>
                    </button>

                    <div class="absolute -bottom-10 md:-bottom-15 lg:-bottom-20 xl:-bottom-21.5 -left-[10%] z-1 h-25 sm:h-30 w-[130%] -rotate-5 bg-brown md:h-40 xl:h-50 before:absolute before:rotate-5 before:right-0 before:-bottom-2 before:w-2/5 lg:before:bottom-5 before:h-20 before:bg-brown">
                    </div>

                    <!-- Modal Overlay -->
                    <div 
                        id="modal-overlay" x-show="showModal"
                        class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50 px-4" style="display: none;"
                    >
                        <!-- Modal Content -->
                        <div class="bg-white relative max-w-5xl w-full shadow-2xl">
                            <video autoplay muted loop id="heroVideo" poster="assets/images/hero-bg.jpg" class="w-full h-full object-cover">
                                <source src="{{ section_video.url }}" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video><!-- use same class of video for iframe -->

                            <button 
                                id="close-button" @click="showModal = false"
                                class="absolute right-0 top-0 p-3 bg-teal text-white hover:bg-black transition-colors"
                            >
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg>
                            </button>
                        </div>
                    </div>
                    {{ /if }}
                </div>
            </div>
        {{ elseif column_alignment == 'Image Left & Text Right' }}
        
            <div class="w-full lg:w-[47.7%]">
                <div x-data="{ showModal: false }" class="relative overflow-hidden">
                    {{ if section_image }}
                    {{ section_image }}
                    <img src="{{ url }}" alt="{{ alt }}" class="w-full h-full object-cover "/>
                    {{/section_image }}
                    {{ /if }}
                    
                    {{ if section_video}}
                    <button @click="showModal = true"
                        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white rounded-full size-20 flex items-center justify-center cursor-pointer pl-1 text-teal hover:text-lime">
                        <svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L27 15L0 30V0Z" fill="currentColor"/></svg>
                    </button>

                    <div class="absolute -bottom-10 md:-bottom-15 lg:-bottom-20 xl:-bottom-21.5 -left-[10%] z-1 h-25 sm:h-30 w-[130%] -rotate-5 bg-brown md:h-40 xl:h-50 before:absolute before:rotate-5 before:right-0 before:-bottom-2 before:w-2/5 lg:before:bottom-5 before:h-20 before:bg-brown">
                    </div>

                    <!-- Modal Overlay -->
                    <div 
                        id="modal-overlay" x-show="showModal"
                        class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50 px-4" style="display: none;"
                    >
                        <!-- Modal Content -->
                        <div class="bg-white relative max-w-5xl w-full shadow-2xl">
                            <video autoplay muted loop id="heroVideo" poster="assets/images/hero-bg.jpg" class="w-full h-full object-cover">
                                <source src="{{ section_video.url }}" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video><!-- use same class of video for iframe -->

                            <button 
                                id="close-button" @click="showModal = false"
                                class="absolute right-0 top-0 p-3 bg-teal text-white hover:bg-black transition-colors"
                            >
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg>
                            </button>
                        </div>
                    </div>
                    {{ /if }}
                </div>
            </div>

            <div class="w-full lg:w-[52.3%] max-lg:pr-4 pl-4 lg:pl-20 lg:max-w-209.75 max-lg:mt-20">
                <div class="prose mb-10 max-w-none">
                    {{ section_text
                        | replace('<h2', "<h2 class='text-4xl sm:text-5xl 2xl:text-6xl sm:leading-[1.2] font-heading font-semibold uppercase [&_strong]:text-lime [&_strong]:font-semibold  mb-10 lg:max-w-125 2xl:max-w-150'")
                    }}
                </div>
                <div class="flex gap-2.5 flex-wrap">
                    {{ buttons }}
                    {{ if button_link }}
                    
                        {{ button_link }}
                        
                        <a href="{{ url }}" class="bg-brown inline-flex items-center justify-between text-white hover:bg-teal-dark h-14 gap-3.25 pl-6 pr-6.75 group">
                            {{ text }}
                        <i class="fa-sharp fa-regular fa-arrow-right -rotate-45 group-hover:rotate-0 transition-all duration-300"></i>
                        </a>
                        
                        {{ /button_link}}
                    
                    {{/if }}
                    {{ /buttons }}
                </div>
            </div>

        {{ /if }}

    </div>
{{ /if }}