<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/font-awesome.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {{ vite src="resources/css/site.css" }}
        {{ seo_pro:meta }}
        {{ vite src="resources/js/site.js" }}
    </head>

    <body>       
        {{ partial:partials/header }}
        {{ template_content }}
        {{ partial:partials/footer }}
    </body>
</html>
