<section class="">
    <div class="flex flex-col md:flex-row justify-between md:pl-4 xl:pl-[calc(50%_-_1280px/2)] 2xl:pl-[calc(50%_-_1532px/2)]">
        <div class="w-full text-white md:w-[52.3%] py-20 lg:py-40 max-md:pl-4 pr-4 md:pr-10 lg:pr-20 2xl:pr-36.25 flex flex-col items-center">
            <div class="lg:max-w-189.5">
                <h2 class="text-4xl sm:text-5xl 2xl:text-6xl sm:leading-[1.2] font-heading font-semibold uppercase [&_span]:text-lime mb-10">{{ cta_heading }}</h2>
                {{ if cta_short_description }}
                <div class="mb-10">{{ cta_short_description }}</div>
                {{ /if }}
                <div class="flex gap-2.5 flex-wrap">
                {{ if cta_button }}
                    {{ cta_button }}
                <a href="{{ url}}" class="bg-white border border-white inline-flex items-center justify-between text-body hover:bg-transparent hover:text-white h-14 gap-3.25 pl-6 pr-6.75 group"> {{ text }}
                    <i class="fa-sharp fa-regular fa-arrow-right -rotate-45 group-hover:rotate-0 transition-all duration-300"></i>
                </a>
                    {{ /cta_button }}
                {{ /if }}
                </div>
            </div>
        </div>
        <div class="w-full md:w-[47.7%] relative overflow-hidden">
            {{ if cta_image }}
                {{ cta_image }}
                    <img src="{{ url }}" alt="{{ alt }}" class="w-full h-full object-cover aspect-[390/311] md:aspect-[823/592]"/>
                {{ /cta_image }}
            {{ /if}}

            {{ if after_image_text }}
            <div class="absolute right-4 bottom-9.5 sm:bottom-14 md:bottom-[9%] lg:bottom-[7%] xl:bottom-[13%] 2xl:bottom-[12%] md:w-full md:inset-x-0 md:flex md:justify-center z-2 max-md:pl-4 px-4">
                <div class="bg-neutral-100 font-heading text-xl lg:text-2xl xl:text-3xl font-semibold text-teal uppercase px-4 lg:px-5 min-h-12 lg:min-h-15  inline-flex items-center justify-center text-center">{{ after_image_text }}</div>
            </div>
            {{ /if }}
            
            <div class="absolute -bottom-8.75 sm:-bottom-10 xl:-bottom-15 -left-[10%] z-1 h-25 sm:h-28 w-[130%] -rotate-5 bg-brown md:-rotate-5 md:h-30 lg:h-30 xl:h-42.5 before:absolute before:rotate-10 before:right-0 before:-bottom-10 before:w-1/3 before:h-20 before:bg-brown">
            </div>
        </div>
    </div>
</section>